:root{
  --primary-background: #0f0f0f;
  --button-primary: #00bcd4;
  --button-hover: #0097ab;
  --text-color: #e5e5ec;
  --card: #1e1e2e;
}

#header{
  display: inline-block;
  color: var(--text-color);
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}
.add-button{
  background-color: var(--button-primary);
  padding: 10px;
  color: var(--text-color);
  text-decoration: none;
  margin-top: 10px;
  
}
.add-button:hover{
  background-color: var(--button-hover);
}
.page-redirect{
  background-color: var(--card);
  width: 100%;
  text-decoration: none;
  color: var(--text-color);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.button-container{
  width: 50%;
  margin-top: 10px;
  margin: auto;
}
